body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, ser;
}
.line {
  position: relative;
  margin-bottom: 2.3em; /* Provides space for the handwriting line */
  letter-spacing: 2.6px;
}
.line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.8em; /* Position the top of the handwriting line */
  height: 1.1em; /* The height of the handwriting space */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media print {
  #hide {
    display: none;
  }
}