body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, ser;
}
.line {
  position: relative;
  margin-bottom: 2.3em; /* Provides space for the handwriting line */
  letter-spacing: 2.6px;
}
.line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.8em; /* Position the top of the handwriting line */
  height: 1.1em; /* The height of the handwriting space */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@media print {
  #hide,
  github-ribbon,
  #printing-tip-modal {
    display: none;
  }
}

#printing-tip-button {
  margin-left: 1em;
}

.modal {
  display: none; /* Hidden by default */

  position: fixed; /* Stay in place */

  z-index: 1; /* Sit on top */

  left: 0;

  top: 0;

  width: 100%; /* Full width */

  height: 100%; /* Full height */

  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0, 0, 0); /* Fallback color */

  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;

  margin: 1% auto; /* 15% from the top and centered */

  padding: 20px;

  border: 1px solid #888;

  width: 80%; /* Could be more or less, depending on screen size */

  img {
    height: 80vh;
  }
}

.close-button {
  color: #aaa;

  float: right;

  font-size: 28px;

  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;

  text-decoration: none;

  cursor: pointer;
}

button {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  vertical-align: middle;
}

button:hover {
  background-color: #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#printing-tip-button {
  animation: pulse 2s infinite;
  display: inline-flex;
  align-items: center;
}

#printing-tip-button svg {
  margin-right: 0.5em;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}
